@media screen and (max-width: 767px) {
  .c-header {
    flex-wrap: nowrap;
  }
  .c-header-brand {
    width: 100px;
  }
}

.c-header {
  background: none;
  border-bottom: none;
}

.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle{
  color: #3c4b64 !important;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle{
  color: #3c4b64;
}